# IDE
.vscode
.idea/*


# Python
__pycache__/
*.py[cod]
*$py.class
.virtualenvs
*.egg-info/
*__pycache__/
*~
dist/

# Singer JSON files
properties.json
config.json
state.json
catalog.json

*.db
.DS_Store
venv
env
.venv
blog_old.md
node_modules
*.pyc
tmp
.python-version

# Docs
docs/_build/
docs/_templates/
